
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*salmanshan53@gmail.com
salman702192338368*/

body{
	font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    font-size: 13px;
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}

.signup-blk {
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #fff;
    max-width: 400px;
    margin: 60px auto;
}
.signup-blk h4 {
    font-size: 18px;
    font-weight: 600;
}
.socail {
    display: flex;
    margin: 0 -6px;
    align-items: center;
}
.socail a {
    border-radius: 6px;
    border: 1px solid #808080;
    display: inline-flex;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.socail a.fb {
    background-color: #3B5998;
}
.socail a.ap {
    background-color: #000;
}
.socail a:hover {
    transform: translateY(-3px);
}
.or {
    display: flex;
    align-items: center;
    margin: 15px -15px;
    font-size: 13px;
    font-weight: 500;
}
.or span {
    flex: 1;
    height: 1px;
    background-color: #808080;
    margin: 0 15px;
    opacity: 0.5;
}
.field {
    border-radius: 6px;
    border: 1px solid rgb(128 128 128 / 70%);
    padding: 8px 12px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.field:focus {
    border-color: #FF690F;
}
.signup-fields {
    margin-top: 25px;
}
.signup-fields .unstyle li label {
    display: flex;
    font-size: 13px;
    cursor: pointer;
}
.signup-fields .unstyle li label a {
    color: #0F73EE;
    text-decoration: underline;
}
.signup-fields .unstyle li label input {
    margin: 4px 15px 2px 0;
}
.orange-bt {
    background-color: #FF690F;
    padding: 10px;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF690F;
    transition: all 0.2s ease-in-out;
}
.orange-bt:hover {
    text-decoration: none;
    background-color: #e9600e;
    color: #fff;
}
.orange-outline-bt {
    border: 2px solid #FF690F;
    background-color: transparent;
    color: #FF690F;
}
.blue-bt {
    background-color: #0B7B99;
    padding: 10px;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0B7B99;
    transition: all 0.2s ease-in-out;
}
.blue-bt:hover {
    text-decoration: none;
    background-color: #038eb3;
    color: #fff;
}
.blue-outline-bt {
    border: 2px solid #0B7B99;
    background-color: transparent;
    color: #0B7B99;
}
.already-text {
    text-align: center;
}
.want-text {
    font-size: 14px !important;
}
.footer {
    background-color: #F0F0F0;
    padding: 15px 0;
    text-align: center;
    color: #0B7B99;
    font-size: 11px;
}
.footer p {
    border-bottom: 1px solid #0B7B99;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.footer ul li a {
    font-weight: 600;
    color: #0B7B99;
}


















/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s ease-in-out;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #808080;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.custom-checkbox:hover input ~ .checkmark {
  background-color: #FF690F;
  border-color: #FF690F;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #FF690F;
  border-color: #FF690F;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*.header .inner {
    display: flex;
    align-items: center;
}*/
.header {
    padding: 15px 0;
}
.header .steps-br {
    display: flex;
    align-items: center;
}
.pr-text {
    color: #808080;
}
.orange-text {
    color: #FF690F;
}
.steps {
    display: flex;
    flex: 1;
    border-radius: 6px;
    margin-left: 15px;
    background-color: #0B7B9987;
}
.steps span {
    height: 6px;
    position: relative;
    border-radius: 6px;
}
.steps span:nth-child(1) {
    width: 15%;
}
.steps span:nth-child(2) {
    width: 20%;
}
.steps span:nth-child(3) {
    width: 10%;
}
.steps span:nth-child(4) {
    width: 50%;
}
.steps span:nth-child(5) {
    width: 5%;
}
.steps span.active {
    box-shadow: 3px 0px 6px #FF5C267F;
    background-color: #FF690F;
}
.steps span:after {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 1px;
    border-radius: 50%;
}


.steps-1 {
    display: flex;
    flex: 1;
    border-radius: 6px;
    margin-left: 15px;
    background-color: #0B7B9987;
}
.steps-1 span {
    height: 6px;
    position: relative;
    border-radius: 6px;
}
.steps-1 span:nth-child(1) {
    width: 6%;
}
.steps-1 span:nth-child(2) {
    width: 18%;
}
.steps-1 span:nth-child(3) {
    width: 18%;
}
.steps-1 span:nth-child(4) {
    width: 18%;
}
.steps-1 span:nth-child(5) {
    width: 18%;
}
.steps-1 span:nth-child(6) {
    width: 12%;
}
.steps-1 span:nth-child(7) {
    width: 5%;
}
.steps-1 span.active {
    box-shadow: 3px 0px 6px #FF5C267F;
    background-color: #FF690F;
}
.steps-1 span:after {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 1px;
    border-radius: 50%;
}
.white-card {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
}
.pr-more-detail h2,
.pr-info h2 {
    font-size: 15px;
    font-weight: 600;
    padding: 0 0 0 18px;
}
.pr-more-detail h3,
.pr-info h3 {
    font-size: 15px;
    font-weight: 600;
}
.pr-more-detail h2 {
    padding: 0;
}
.pr-info ul {
    margin: 10px -24px;
}
.pr-info ul li a {
    font-size: 13px;
    font-weight: 600;
    color: #BEBEBE;
    display: block;
    padding: 4px 10px 4px 40px;
    border-right: 3px solid transparent;
    text-decoration: none !important;
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
    margin-bottom: 4px;
}
.pr-info ul li.complete a {
    color: #0B7B99;
}
.pr-info ul li.active a,
.pr-info ul li a:hover {
    background: var(--unnamed-color-f8f8f8) 0% 0% no-repeat padding-box;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0B7B9929;
    color: #0B7B99;
    border-right-color: #0B7B99;
}
.pr-info ul li.selected a {
    color: #0B7B99;
}
.search-field {
    position: relative;
}
.search-field i {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #0B7B99;
    font-weight: 300;
    font-size: 13px;
}
.search-field input {
    border: 1px solid #0B7B99;
    border-radius: 16px;
    width: 100%;
    padding: 2px 30px;
    outline: none;
    font-size: 13px;
}
.search-ex {
    padding: 5px 0;
}
.search-ex li {
    display: flex;
    align-items: center;
    padding: 2px 0;
    font-size: 11px;
    color: #04030D;
}
.search-ex li img {
    margin: 4px 10px 4px 4px;
    display: inline-block;
}
.multiskill {
    padding: 8px 12px;
    border: 1px solid var(--unnamed-color-808080);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #808080;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}
.multiskill input {
    flex: 1;
    border: 0;
    outline: none;
}
.multiskill a {
    background: #BEBEBE;
    border-radius: 5px;
    display: inline-flex;
    color: #000;
    font-size: 11px;
    padding: 4px 8px;
    text-decoration: none !important;
    margin-right: 5px;
    align-items: center;
}
.multiskill a span {
    margin-left: 6px;
}
.pr-more-detail ul li label {
    font-size: 11px;
}
.border-left-gray {
    position: relative;
}
.border-left-gray:after {
    width: 1px;
    height: 100%;
    position: absolute;
    content: "";
    left: 15px;
    background-color: #80808099;
    display: block;
    top: 0;
    bottom: 0;
}
.ex-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ex-level .star-block {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    opacity: 1;
    display: inline-block;
    text-align: center;
    padding: 25px 10px;
    font-size: 11px;
    margin-top: 20px;
    min-width: 110px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}
.ex-level .star-block.active {
    border-bottom-color: #FF690F;
    box-shadow: 0px 0px 6px #FF5C267F;
}



/*page-3*/
.payment-card {
    display: flex;
}
.payment-card li {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 15px 6px 15px;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 6px solid transparent;
}
.payment-card li a,
.payment-card li p {
    color: #BEBEBE;
}
.payment-card li.active a,
.payment-card li.active p {
    color: #04030D;
}
.payment-card li.active {
    border-bottom-color: #FF690F;
    box-shadow: 0px 0px 6px #FF5C267F;
}



/* ========================================= */
            /* Register Page 2 */
/* ========================================= */

label {
    color: #04030D;
    font-weight: 500;
    font-size: 13px;
}
.field {
    min-height: 40px;
}
.available-week ul li {
    color: #04030D;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.available-week ul li span {
    width: 100px;
}
.time-field {
    max-width: 50px;
    font-size: 11px;
}
.border-left-gray-1 {
    border-left: 1px solid #707070;
}
.border-left-custom {
    border-left: 1px solid #707070;
}
.small-label {
    font-size: 10px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;   
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 300px;
    min-height: 90px;
    font-size: 10px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: #808080;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1 + label {
    color: #808080;
    background-color: transparent;
    border: 1px dashed #707070;
    border-radius: 15px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    color: #808080;
    background-color: transparent;
    border: 1px dashed #707070;
    border-radius: 15px;
}
.small-text {
    color: #04030D;
    font-size: 10px;
}
.or-left {
    position: absolute;
    left: -7px;
    top: 0;
    bottom: 0;
    margin: auto ;
    display: flex;
    align-items: center;
    width: 10px;
    height: 30px;
    background-color: #fff;
}
/* ========================================= */
            /* Register Page 2 */
/* ========================================= */


.nav-link {
    font-weight: 700;
    color: #808080;
}
.search-field-h {
    position: relative;
}
.search-field-h input {
    border: 2px solid #808080;
    border-radius: 30px;
    background-color: transparent;
    padding: 4px 10px 4px 35px;
}
.fa-search {
    position: absolute;
    color: #808080;
    left: 12px;
    top: 9px;
    font-size: 16px;
}
.bl-clor {
    color: #0B7B99 !important;
    position: relative;
    font-size: 16px !important;
}
.user-img {
    height: 40px;
    width: 40px;
    background-color: #808080;
    border-radius: 50%;
    display: inline-block;
}
.noti {
    height: 12px;
    width: 12px;
    background-color: #FF690F;
    color: #fff !important;
    font-size: 8px;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 8px;
    position: absolute;
    right: 2px;
}
.GIGs-blk label {
    min-width: 130px;
}
.blue-text-link {
    color: #0B7B99 !important;
}
.orange-text-link {
    color: #FF690F !important;
}
.giglist {
    margin-top: 15px;
}
.giglist li {
    border-bottom: 1px solid #808080;
    margin-bottom: 15px;
}
.action-btns a {
    flex: 1;
    margin-left: 15px;
}
.w-auto {
    width: auto !important;
}
.ans-text label,
.ans-text {
    font-size: 12px !important;
}
.ans-text select {
    padding: 3px 10px;
    min-height: 34px !important;
}
.add-button a.lkn {
    color: #808080;
}
.dr-image {
    background: #FFFFFF;
    height: 130px;
    overflow: hidden;
    margin-top: 15px;
    border: 1px dashed #707070;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: #808080;
}

.dr-image input {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.gray-text {
    opacity: 0.5;
}
.count {
    position: absolute;
    right: 15px;
    top: 0px;
}
.size2 {
    font-size: 20px;
}
.blue-text {
    color: #0B7B99;
}
.pr-more-detail h1 {
    font-size: 26px;
}
.box-gal {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 20px;
    opacity: 1;
    margin: 5px 0;
}
.box-user {
    display: flex;
    align-items: center;
}
.box-user p {
    font-size: 11px;
}
.box-user span {
    height: 36px;width: 36px;
    background-color: #000;
    display: inline-flex;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 14px;
}
/* ========================================= */
            /* Register Page 4 Start */
/* ========================================= */

.profile-img {
    border: 2px solid #808080;
    opacity: 1;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
.small-text-14 {
    color: #04030D;
    font-size: 13px;
    font-weight: 400;
}
.small-text-16 {
    color: #04030D;
    font-size: 16px;
    font-weight: 400;
}
.small-text-12 {
    color: #04030D;
    font-size: 11px;
    font-weight: 400;
}
.small-text-12-1 {
    color: #04030D;
    font-size: 12px;
    font-weight: 400;
}
.line-container { 
    margin:1rem auto 2rem auto;
    display: flex;
      width: 100%;
}
.line-container .progress-line {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    background: #808080;
    height: 2px;
    z-index: 1;
    display: flex;
    justify-content: space-between;

     
}
.progress-line .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #E4090A;
    /* transition: width 1s ease-in-out; */
}
.progress-line  .status {
    position: relative;
    top: -8px;
    font-size: 10px;
}  
.status .dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    border: 1px solid #808080;
    cursor: pointer;
    margin-left: auto;
}  
.status .dot.current {
    position: relative;
    background: white;
    border: 1px solid  #808080;
    margin-left: auto;
}  
.status .dot.start {
    position: relative;
    background:#E4090A;
    border: 1px solid #E4090A;;

     
  }    
.status .dot.completed {
    position: relative;
    background: #fff;
    border: 1px solid #E4090A;

     
  }  
.status .dot.completed::after {
    content: '';
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 5px);
    height: 5px;
    width: 10px;
    border-left: 2px solid #E4090A;;
    border-bottom: 2px solid #E4090A;;
    transform-origin: center;
    transform: rotate(-45deg);
    z-index: 2;
  } 
  .social-icon {
      width: 25px;
      height: 25px;
      background-color: #000;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
  }
  .email-color {
      background-color: #BC1919;
  }
  .linkdin-color {
      background-color: #0077B5;
  }
  .phone-color {
      background-color: #2CC64E;
  }
  .twitter-color {
      background-color: #1DA1F2;
  }
  .facebook-color {
      background-color: #3B5998;
  }
  .color-grey {
      color: #BEBEBE;
  }
  .color-darkgrey {
      color: #808080;
  }
  .color-theme {
    color: #0B7B99;
  }
  .color-theme-o {
    color:#FF690F;
  }
.lineh-1 {
    line-height: 1;
}
/* ========================================= */
            /* Register Page 4 End */
/* ========================================= */
.signup-blk-md {
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
    max-width: 750px;
    margin: 60px auto;
}
.btn-submit {
    width: 90px;
    margin: 0 auto;
    padding: 7px 0;
}
.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 4rem);
}
.btn-gig {
    margin: 0 auto;
    padding: 1px 10px;
    display: inline-block;
}
.lable-file-100 {
    width: 100% !important;
    height: 138px;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border: 1px dashed var(--unnamed-color-808080);
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border: 1px dashed #808080;
    border-radius: 5px;
    opacity: 1;
}
.left-10 {
    left: 10px;
}
.custom-times {
    font-weight: 200;
    color: #FF0000;
    font-size: 30px;
}
.custom-progress {
    height: 3px;
    background-color: #BEBEBE;
}
.custom-progress .progress-bar {
    background-color: #0B7B99;
}
.project-type {
    display: flex;
}
.project-type li {
    width: 120px;
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 15px 6px 15px;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 6px solid transparent;
    text-align: center;
}
.project-type li:last-child {
    margin-right: 0px;
}
.project-type li a  {
    display: block;
    padding: 16px 0;
    color: #BEBEBE;
}
.project-type li p {
    color: #BEBEBE;
}
.project-type li.active a {
    color: #0B7B99;
}
.project-type li.active p {
    color: #04030D;
}
.project-type li.active {
    /* border-bottom-color: #FF690F; */
    box-shadow: 0px 0px 6px #FF5C267F;
}



.custom-list-page {
    display: flex;
}
.custom-list-page li {
    width: 120px;
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 15px 6px 15px;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 6px solid transparent;
    text-align: center;
}
.custom-list-page li:last-child {
    margin-right: 0px;
}
.custom-list-page li a {
    display: block;
    padding: 16px 0;
    color: #BEBEBE;

}
.custom-list-page li p {
    color: #BEBEBE;
}
.custom-list-page li.active a {
    color: #0B7B99;
}
.custom-list-page li.active p {
    color: #04030D;
}
.custom-list-page li.active {
    border-bottom-color: #FF690F;
    box-shadow: 0px 0px 6px #FF5C267F;
}



.custom-list-page-quantity {
    display: flex;
}
.custom-list-page-quantity li {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 15px 11px 15px;
    margin-right: 30px;
    margin-top: 10px;
    border-bottom: 6px solid transparent;
    text-align: center;
}
.custom-list-page-quantity li:last-child {
    margin-right: 0px;
}
.custom-list-page-quantity li span {
    display: block;
    padding: 16px 0;
    color: #BEBEBE;

}
.custom-list-page-quantity li p {
    color: #BEBEBE;
}
.custom-list-page-quantity li.active span {
    color: #0B7B99;
}
.custom-list-page-quantity li.active p {
    color: #04030D;
}
.custom-list-page-quantity li.active {
    border-bottom-color: #FF690F;
    box-shadow: 0px 0px 6px #FF5C267F;
}
.custom-size-btn {
    width: 69px;
    height: 28px;
    border-width: 0.5px;
    font-size: 12px;
}
.border-bottom-dark {
    position: relative;
}
.border-bottom-dark:after {
    content: '';
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    border-bottom: 1px solid #707070;
}
.badge-grey {
    padding: 5px 6px;
    color: #04030D;
    background-color: #BEBEBE;
    border-radius: 5px;
    font-weight: 400;
    margin: 5px;
}
.icon-w {
    width: 45px;
    text-align: right;
}
.attachment {
    position: absolute;
    left: 5px;
    top:12px;
    font-size: 16px;
    color: #BEBEBE;
}
.field-modal {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}
.social-media-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-modal li {
   display: inline-flex;
   margin: 0 2px;
}
.modal-lg {
    max-width: 900px;
}

.custom-list-page-modal {
    display: block;
    text-align: center;
}
.custom-list-page-modal li {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8080807F;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 15px 11px 15px;
    border-bottom: 6px solid transparent;
    text-align: center;
}
.custom-list-page-modal li:last-child {
    margin-top: 30px;
    margin-bottom: 30px;
}
.custom-list-page-modal li span {
    display: block;
    padding: 16px 0;
    color: #BEBEBE;

}
.custom-list-page-modal li h3 {
    font-size: 16px;
}
.custom-list-page-modal li p {
    color: #BEBEBE;
}
.custom-list-page-modal li.active span {
    color: #0B7B99;
}
.custom-list-page-modal li.active p {
    color: #04030D;
}
.custom-list-page-modal li.active {
    border-bottom-color: #FF690F;
    box-shadow: 0px 0px 6px #FF5C267F;
}
.modal-7-lg {
    max-width: 750px;
}
.modal-box-sm h2 {
    font-size: 45px;
    color: #0B7B99;
    text-align: center;
    margin-bottom: 25px;
}
.skip {
    color: #808080;
}
.skip:hover {
    color: #0B7B99 !important;
    text-decoration: none;
}
/* Page 13 */
.btn-location {
    width: 176px;
    height: 42px;
    background: var(--unnamed-color-0b7b99) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-808080);
    background: #0B7B99 0% 0% no-repeat padding-box;
    border: 1px solid #808080;
    border-radius: 5px;
    opacity: 0.59;
    color: #fff;
}
.btn-location:hover {
    opacity: 1;
    cursor: pointer;

}
.weekly-activity {
    display: flex;
    margin: 10px 0 !important;
}
.weekly-activity li {
    width: 25px;
    height: 25px;
    font-size: 12px;
    color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #BEBEBE;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}
.weekly-activity li.active {
    background-color: #FF690F;
}
/* ////////////////////////////////////////////////
.............Two Way Slider..................
////////////////////////////////////////////////// */

  
  .slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #0B7B99;
  }
  
  /* Styling;
   */
  .noUi-background {
    background:#808080;
  }
  
  .noUi-connect {
    background: #0B7B99;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 1px;
  }
  
  .noUi-target {
    border-radius: 1px;
  }
  
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #0B7B99;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }

/* ////////////////////////////////////////////////
.............Two Way Slider..................
////////////////////////////////////////////////// */


@media only screen and (max-width: 768px){
    .navbar-collapse {
        top: 60px;
        max-width: 350px;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #80808052;
    }
}

/* End */

@media only screen and (max-width: 512px) {
    .project-type li a ,
    .custom-list-page li a {
        padding: 10px 0;
    }
    .project-type li ,
    .custom-list-page li {
        padding: 10px 9px 6px 9px;
    }
}

@media only screen and (max-width: 768px) {
    .border-left-custom {
        border-left: 0px solid #707070;
        border-top: 1px solid #707070;

    }
}

@media only screen and (max-width: 768px) {
    .border-left-gray:after {
        display: none;
    }
    .ex-level {
        flex-wrap: wrap;
    }
    .or-left {
        left: 0;
        right: 0;
        top: -7px;
        bottom: unset;
        margin: auto;
        width: 30px;
        height: 10px;
        justify-content: center;
    }
    .border-left-custom {
        border-left: 0px solid #707070;
        border-top: 1px solid #707070;

    }
    .navbar-toggler {
        position: absolute;
        right: 0px;
    }
    .navbar-collapse {
        position: absolute;
        top: 30px;
        z-index: 5;
        left: inherit;
        right: 0;
        background-color: #fff;
        text-align: center;
        max-width: 260px;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #80808052;
    }
    .search-field-h input {
        width: 100% !important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1366px;
    }
}











.product__content {
    height: 100vh;
}
.product__content .product__details,
.product__content .product__media-container {
    overflow-y: auto;
    height: 100vh;
}










/* ========================================= */
            /* Expert Page Starts */
/* ========================================= */





.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row-sapce-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row-sapce-10 > .col {
  padding-left: 5px;
  padding-right: 5px;
}
.expert-heading-xl {
  font-size: 45px;
  color: #04030D;
  font-weight: 700;
}
.expert-heading-lg {
  font-size: 30px;
  color: #FF690F;
  font-weight: 500;
}
.expert-photo-col {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.expert-photo-canvas {
  display: flex;
  min-height: 284px;
}
.expert-photo-canvas .expert-photo-col {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}
.expert-photo-canvas .expert-photo-col-1 {
  justify-content: flex-start;
  padding-top: 54px;
}
.expert-photo-canvas .expert-photo-col-2 {
  justify-content: flex-start;
}
.expert-photo-canvas .expert-photo-col-3 {
  justify-content: flex-end;
}
.expert-photo-canvas .expert-photo-col-4 {
  justify-content: flex-start;
  padding-top: 15px;
}
.expert-photo-canvas .expert-photo-col-5 {
  justify-content: flex-end;
  padding-bottom: 15px;
}
.expert-photo-canvas .expert-photo {
  width: 86px;
  height: 116px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 5px;
}
.expert-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 12px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.expert-subject .expert-subject-img {
  width: 100%;
  height: 180px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 18px;
}
.expert-subject .expert-subject-name {
  font-size: 12px;
  color: #0B7B99;
  font-weight: 700;
  display: inline-flex;
  margin-bottom: 12px;
}
.pr-info .feature-list li a,
.feature-list li a {
  font-size: 16px;
  color: #04030D;
  font-weight: 500;
  padding: 4px 12px 4px 30px;
  min-height: 46px;
  display: flex;
  align-items: center;
}
.pr-info .feature-list li.active a,
.feature-list li.active a {
  color: #FF690F;
}
.feature-list li a .feature-list-img {
  min-width: 34px;
  display: inline-flex;
  justify-content: center;
  margin-right: 24px;
}
.feature-list li a .fl-img-default,
.feature-list li.active a .fl-img-active {
  display: inline-flex;
}
.feature-list li a .fl-img-active,
.feature-list li.active a .fl-img-default {
  display: none;
}
/* gig-expert */
.breadcrumb-custom {
    padding: .3rem 0rem;
    margin-bottom: 0rem;
    background-color: transparent;
    border-radius: .25rem;
}
.breadcrumb-custom .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #04030D;
    content: ">";
}
.breadcrumb-custom .breadcrumb-item.active,
.breadcrumb-custom .breadcrumb-item a{
    color:#04030D !important;
}
.gig-expert-heading {
    color: #04030D;
    font-size: 21px;
    margin: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .switch .slider.round {
    border-radius: 34px;
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }
.gig--nav .nav-link {
    font-weight: 400;
    color: #04030D !important;
}
.gig-profile-img {
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ddd;
    margin-right: 5px;
}
.gig-profile-img img {
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius: 100%;

}
.gig-profile-name h6 {
    font-size: 16px;
    color: #04030D;
    margin: 0;
}
.gig-profile-name p {
    font-size: 12px;
    color: #808080;
    margin: 0;
    text-align: left;
    margin: 0;
}
.dark-gig-text {
    color: #04030D;
}
.margin-bottom-gig {
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-indicators {
    align-items:center;
  }
  .carousel-custom .carousel-indicators li {
    width:4px;
    height:4px;
    border-radius:6px !important;
    border:0;
    opacity:1 !important;
  }
  .carousel-custom .carousel-indicators li:last-child {
    width:3px;
    height:3px;
  }
  .carousel-custom .carousel-indicators li.active {
    width:6px;
    height:6px;
    border-radius:6px !important;
    border:0;
  }
@media (min-width: 768px) {
  .expert-heading-xl .expert-heading-break {
    display: inline-flex;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .expert-heading-xl {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  .row-expert .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}





/* ========================================= */
            /* Expert Page End */
/* ========================================= */

